# ================================
# CORE
# ================================
Django==5.1.7

# ================================
# BANCO
# ================================
psycopg2-binary==2.9.9

# ================================
# CONFIG
# ================================
python-decouple==3.8
python-dotenv==1.0.0

# ================================
# AUTH
# ================================
django-allauth==0.61.1

# ================================
# API
# ================================
djangorestframework==3.14.0
django-filter==24.1

# ================================
# CORS
# ================================
django-cors-headers==4.3.1

# ================================
# PRODUÇÃO
# ================================
gunicorn==22.0.0
whitenoise==6.7.0

# ================================
# PWA
# ================================
django-pwa==1.1.0

# ================================
# EXTRA (recomendado)
# ================================
typing-extensions>=4.0.0